@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.section {
  /* border: 3px solid black; */
  max-width: 1170px;
  width: 100%;
  min-height: 350px;
  margin: auto;
}

.section-header {
  /* border: 3px solid rgb(246, 216, 23); */
  max-width: 1170px;
  width: 100%;
  min-height: 108px;
  margin: auto;
  display: flex;
  position: relative;
  margin-bottom: 60px;
}
.title {
  /* border: 1px solid red; */
  width: 125px;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chapter-sign {
  width: 20px;
  height: 40px;
  background-color: #db4444;
}
.title-text p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #db4444;
}
.section-title {
  /* border: 1px solid red; */
  /* margin: auto; */
  max-width: 400px;
  height: 48px;
  display: inline-block;
}

.section-title h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 1px;
  color: #000;
}
.view-btn {
  /* border: 1px solid red; */
  width: 159px;
  height: 56px;
  padding: 16px 48px;
  display: inline-block;
  background-color: #db4444;
  position: absolute;
  right: 0;
  bottom: 0;
}
.view-btn a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #fafafa;
}

.main-section {
  /* border: 1px solid red; */
  max-width: 1170px;
  width: 100%;
  min-height: 350px;
  margin: auto;
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
}

.products {
  border: 1px solid black;
  max-width: 270px;
  width: 100%;
  min-height: 350px;
}
.product-photos {
  /* border: 1px solid black; */
  max-width: 270px;
  width: 100%;
  height: 250px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  /* align-items: center; */
  /* position: relative; */
}

.jacket {
  background-image: url(../images/jacket.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.handbag {
  background-image: url(../images/handbag.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.speaker {
  background-image: url(../images/cooler.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.bookshelf {
  background-image: url(../images/bookshelf.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.heart-and-eye {
  width: 34px;
  height: 76px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.heart,
.eye {
  /* border: 1px solid green; */
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-desc {
  /* border: 1px solid green; */
  max-width: 140px;
  width: 100%;
  min-height: 84px;
  margin-top: 16px;
  /* text-align: center; */
  color: #000;
  font-style: italic;
  font-weight: 600;
}
